$fuente_principal: 'Outfit', sans-serif;
$negro: #000000;
$blanco: #ffffff;
$amarillo :#D8AE0E;
$azul_principal:#0E1D28;

//media queris
$telefono:480px;
$tablet:768px;
$desktop:1024px;
$desktopXL:1400px;