@use '../base/variable' as v;
@use '../base/mixin' as m;

section{
    display: flex;
    flex-direction: column; /* uno encima del otro */
    align-items: center;    /* centrar horizontalmente */
    text-align: center;     /* centrar texto */
    gap: 1rem; 
}

.contenido-gym{
    text-align: center;  
    margin-top: 2.5rem;

       .slogan{
        margin-top:1rem;
        font-style: italic;
        color: gray;
        }

        .p{
        margin-top:1.5rem;
        color:v.$azul_principal;
        }
}

.contenido-gym h1{
    font-size: 4rem;
    margin: 0;
    color:v.$amarillo ;
}

@include m.desktop{
    .contenido-gym h1{
        font-size: 7rem;
        color: v.$azul_principal;
    }
}





.gym-sucursal{
    margin-top: 3rem;
    /*background-color: v.$amarillo;*/
}

.contenido-sucursal{
    display: flex;
    align-content: space-between;
    background-color: v.$amarillo;
    height: 8.5rem;
    width:100%;;
}

.titulo-sucursal{
    padding-left: 0;
}

@include m.telefono{
    .titulo-sucursal{
        padding-left: 0;
    }
}
@include m.desktop{
    .titulo-sucursal{
        padding-left: 20rem;
    }
}



 h2{
    font-size: 3.5rem;
}
 h2 span{
    font-size: 2rem;
}



.gym-card-descripcion{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  margin: 0;
  height: 55rem;
  background-color: v.$azul_principal;
}

.gym-card img {
    display: flex;
    max-width: 100%;
    border-radius: 10px;
    height: auto;
}

.horario{
    display: flex;
   background-color: v.$amarillo;
   width: 3rem;
   height: 4rem;
}