@use '../base/variable' as v;
@use '../base/mixin' as m;

section{
    display: flex;
    flex-direction: column; /* uno encima del otro */
    align-items: center;    /* centrar horizontalmente */
    text-align: center;     /* centrar texto */
    gap: 1rem; 
}

.contenido-gym{
 text-align: center;  
 margin-top: 2.5rem;

    h1{
    font-size: 5rem;
    margin: 0;
    }

    .slogan{
    margin-top:1rem;
    font-style: italic;
    color: gray;
    }

    .p{
    margin-top:1.5rem;
    color:v.$azul_principal;
    }
}

.gym-sucursal{
    margin-top: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.875rem;

    .contenido-sucursal{
        display: flex;
        max-height: 5.5rem;
        justify-content: space-between;
        padding-left:20rem;
        padding-right:55rem;
        h2{
            font-size: 1.5rem;
        }
        h2 span{
            font-size: 2rem;
        }
    }
}

.gym-card-descripcion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    background-color: v.$amarillo;
    max-width:95%;
    max-height: 40rem;
    padding: 1rem;

}

.gym-imagen{
    flex: 1;
}


.gym-card img {
    max-width: 100%;
    border-radius: 10px;
    height: auto;
}

.horario{
   flex: 1;
   background-color: v.$amarillo;
}